<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andela Learning Community</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="/fa/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <canvas></canvas>
</body>
<script src="/js/canvas.js"></script>

</html>