<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andela Learning Community</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <link href="/fa/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="/css/stylesheet.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div class="main-layout">
        <div class="mini-sidenav">
            <div class="mini-layout">
                <ul class="mini-nav-list">
                    <li class="mini-nav-logo">
                        <a>
                            <svg enable-background="new 0 0 91 91" height="40px" id="Layer_1" version="1.1" viewBox="0 0 91 91" xml:space="preserve"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <path stroke="null" id="svg_5" fill="#454B53" d="m46.719599,24.769792l-43.518844,0c-0.709702,0 -1.284929,-1.125 -1.284929,-2.512c0,-1.389 0.575227,-2.514 1.284929,-2.514l43.518844,0c0.709702,0 1.284929,1.125 1.284929,2.514c0,1.387 -0.575227,2.512 -1.284929,2.512z"
                                    />
                                    <path d="M88.3,43.367H3.188c-1.388,0-2.513-1.125-2.513-2.514c0-1.387,1.125-2.512,2.513-2.512H88.3   c1.388,0,2.513,1.125,2.513,2.512C90.813,42.242,89.688,43.367,88.3,43.367z"
                                        fill="#454B53" />
                                    <path stroke="null" id="svg_7" fill="#454B53" d="m87.517686,62.579621l-41.566111,0c-0.677857,0 -1.227273,-1.125 -1.227273,-2.513s0.549416,-2.513 1.227273,-2.513l41.566111,0c0.677857,0 1.227273,1.125 1.227273,2.513s-0.549416,2.513 -1.227273,2.513z"
                                    / </g>
                            </svg>
                        </a>
                    </li>
                    <li class="mini-brand">
                        <a href="#" class="mini-brand-child">P</a>
                    </li>
                    <li>
                        <a class="mini-fa">
                            <span class="fa fa-code"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="form">
                <div class="form-select">
                    <h2 class="text-center create">Pamadora Student Portal</h2>
                    <div class="column-container">
                        <div class="column-6">
                            <a href="api/create-user" class="border">
                                <span class="fa fa-user-circle"></span>
                                Create user
                            </a>
                        </div>
                        <div class="column-6">
                            <a href="api/users" class="border">
                                <span class="fa fa-tasks"></span>
                                List Users
                            </a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src='js/jquery.particleground.min.js'></script>
    <script type='text/javascript' src='js/demo.js'></script>
</body>
</html>